body{
     margin: 0;
     padding: 0;
     border: 0;
} 


.active{
     background-color: black;
} 


.danger{
     background-color: black; 
     color: white;
}
.container-app{
     margin: 0;
     padding: 0;
     border: 0;
}